[submodule "Models"]
	path = Models
	url = git@github.com:/phpmagic/models.git
[submodule "Core"]
	path = Core
	url = git@github.com:/phpmagic/core.git
[submodule "Storage"]
	path = Storage
	url = git@github.com:/phpmagic/storage.git
